.content{
    background: whitesmoke;
    background-size: 100px;
    margin: 100px auto;
    padding: 40px;
    font-family: verdana;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15%

}

body{
    background-image: url('building.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: Verdana;
    font-style: oblique;
    margin-left: auto;
    margin-right: auto;

}

h2{
    font-family: Verdana;
    margin: 10px auto;
    padding: 10px;
    font-family: verdana;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h3{
    margin: 10px auto;
    padding: 10px;
    font-family: verdana;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h4{
    font-family: verdana;
    display:flex;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

table{
    background: rgb(90, 224, 241);
    background-size: 100px;
    margin: 100px auto;
    padding: 40px;
    font-family: verdana;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border:rgb(0, 0, 0);
    border-width:thick;

}

.navbar{
    background-color: turquoise;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-family: verdana;
    align-items: center;
    display:flex;
    justify-content: center;
    width: 80%
}

a{
    text-decoration: none;
    color: rgb(28, 97, 226);
    width: 10%;
}