{% extends "base.html" %}

{% block head %}
<title>Welcome Admin</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}


{% block body %}

<h1 style="text-align: center">Welcome {{username}}</h1>
<h3 style="text-align: center">What would you like to do?</h3>

<div class='content'>
    <div>
        <a href="/teachers">Teacher Database</a>
        <br>
        <a href="/students">Student Database</a>
        <br>
        <a href="/departments">Department Database</a>
        <br>
        <a href="/courses">Course Database</a>
    </div>
</div>
{% endblock %}