{% extends "base.html" %}

{% block head %}
<title>Student Database</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}


{% block body %}

<div>
    <h2 style="text-align: center">Students Database</h2>
    <div class="navbar">
        <a href="/welcome">Home</a>
        
        <a href="/teachers">Teacher Database</a>

        <a href="/students">Student Database</a>

        <a href="/departments">Department Database</a>

        <a href="/courses">Course Database</a>
    </div>
</div>

<div>
    {% if pupils|length < 1 %}
    <h4 style="text-align: center">There are no Students. Add one!</h4>
    {% else %}
    <table border ='5' style='margin-left:auto; margin-right:auto'>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Courses</th>
            <th>Actions</th>
        </tr>
        {% for pupil in pupils %}
        <tr>
            <td>{{ pupil.student_id }}</td>
            <td>{{ pupil.student_name }}</td>
            <td> {{ pupil.student_courses }}</td>
            <td>
                <a href="/students/delete/{{ pupil.student_id }}">Delete</a>
                <br>
                <a href="/students/update/{{ pupil.student_id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %} 
</div>



<div class="content" style='margin-left:auto; margin-right:auto'>
    <form actions="/students" method="POST" style='margin-left:auto; margin-right:auto'>
        <input type="text" name="new_name" id="new_name" placeholder="Enter Student name">
        <br>
        <input type="text" name="new_courses" id="new_courses" placeholder="Enter Student Courses">
        <input type="submit" value="Add Student">
    </form>
</div>
{% endblock %}